@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
body{
    background: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Outfit', sans-serif;
}
/* flex = horizontal */
nav ul{
    align-items: center;
    display: flex;  
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: whitesmoke;
}

nav ul li{
    padding: 0 12px;

}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    height: 75vh;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
}